.column {
  float: left;

}

.left, .right {
  width: 25%;
}

.middle {
  width: 50%;
}
h1{
  color: red;
  text-align: center;
}
p{
  text-align: center;

}
.card{
  background-color: black;
}
.kk{
  color: white;
  font-size: 300%;
}
.i{
  color: green;
  font-size: 150%;
}
}
body{
  background-image: url("/home/david/Documents/dice/images/c.jpeg");
}
.ko{
  color: orange;
  font-size: 300%;
}
.topnav {
  background-color: black;
  overflow: hidden;
}
