.column {
  float: left;

}

.left, .right {
  width: 25%;
}

.middle {
  width: 50%;
}
h1{
  color: red;
  text-align: center;
}
p{
  text-align: center;


}
.card{
  background-color: black;
}
.kk{
  color: white;
  font-size: 300%;
}
.i{
  color: green;
  font-size: 150%;
}


.ko{
  color: orange;
  font-size: 300%;
}
.topnav {
  background-color: black;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: orange;
  color: black;
}

.topnav a.active {
  background-color: orange;
  color: white;
}
body{
  background-image: url("../images/c.jpeg");
}
